#showcase {
    display: flex;
    flex-direction: row;
    height: $header-height;
}

// my first name
#showcase .left h1 span {
    color: white;
}

// My name
#showcase .left h1 {
    color: $primary-text;
    font-size: $xl-size;
}

// my title
#showcase .left p {
    color: white;
    font-size: $l-size;
    text-align: center;
}

// Left and Right
#showcase .left {
    background: $secondary-background;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#showcase .right {
    flex: 4;
}

// small blurb
#showcase .right .information {
    font-size: $s-size;
    line-height: 1.5rem;
    padding-top: 1rem;
    text-align: justify;
    font-weight: 800;
}

#showcase .right p {
    padding: 0 1rem;
}

#showcase .right h3 {
    font-size: $l-size;
    padding: 1rem 0 0 1rem;
}
