// Main wrapper
#main-info {
    display: flex;
    flex-direction: row;
    height: 24.7cm;
}

// Left and Right
#main-info .left {
    background: $secondary-background;
    flex: 2;
    // the sub sections will flex as columns
    display: flex;
    flex-direction: column;
}

#main-info .right {
    flex: 4;
}

// left
#main-info .left h2 {
    background: $primary-background;
    font-size: $l-size;
    padding: $header-padding;
    text-align: center;
}

#contacts .item {
    color: $secondary-text;
    font-size: $m-size;
    padding: 1rem 0 0.5rem 0;
}

// right
#main-info .right h2 {
    background: $secondary-background;
    color: $secondary-text;
    font-size: $l-size;
    padding: $header-padding;
    text-align: center;
}

// titles on experience and education
#main-info .right .experience-title {
    padding-top: 1rem;
    text-align: center;
}

#main-info .right .institution {
    text-align: center;
}

#main-info .right .period {
    text-align: center;
    font-size: $s-size;
}

//
#main-info .experience-description {
    font-size: $m-size;
    line-height: 1.5rem;
    padding: 0.8rem;
    padding-bottom: 0;
    text-align: justify;
}

// For the last paragraph, add some bottom padding
#experience > div:last-child .experience-description {
    padding-bottom: 1rem;
}

// Languages
#languages .language {
    padding: 1rem 1.5rem;
    font-size: $m-size;
    color: $secondary-text;
}

#languages .language-proficiency {
    font-size: $s-size;
    padding-left: 2rem;
    color: $secondary-text;
}