// colors
$primary-background: #d9e0e4;
$secondary-background: #77919d;
$primary-text: #333;
$secondary-text: #fff;
$base-tag-background: $secondary-background;
$base-tag-foreground: $primary-background;
// font sizes
$xs-size: 0.5rem;
$s-size: 0.8rem;
$m-size: 1rem;
$l-size: 1.4rem;
$xl-size: 2.5rem;
// other sizes
$header-padding: 1rem;

$header-height: 5cm;
$footer-height: 0.3cm;
$main-height: 29.7cm - $header-height - $footer-height;
